.header
  background: $main-color-d

  .header-logo
    height: 60px
    width: 200px
    background: url("../img/logo.png") 0 -11px no-repeat
    background-size: auto 90px
    text-indent: -9999px
    overflow: hidden

  .header-user
    li > a
      height: 60px
      line-height: 60px
      color: white

      &:hover
        background: tint($main-color, 35%)
        color: white

    .header-user-icon
      margin-top: 12.5px
      margin-right: 5px
      height: 35px
      width: 35px
