#header {
  padding-top: 8px;
  padding-bottom: 8px;
  max-width: 100%;
  background: #6f0204;
  line-height: 60px;

  #header-user-dropdown {
    background-color: white;

    &:hover {
      filter: brightness(0.85);
      cursor: pointer;
    }
  }

  .header-user-icon {
    border-radius: 2px;
    size: 42px;
  }

  .header-logo {
    overflow: hidden;
    width: 180px;
    background: inline("logo.png") no-repeat;
    text-indent: 101%;
    white-space: nowrap;
  }

  .header-logo-sp {
    overflow: hidden;
    width: 60px;
    background: inline("logo-sp.png") no-repeat;
    text-indent: 101%;
    white-space: nowrap;
  }

  .dropdown-toggle:after {
    border: 0;
  }

  .dropdown-menu {
    border: 1px white solid;
    background: black;
  }

  .dropdown-item {
    color: white;

    &:hover {
      background: #333333;
    }
  }
}
