#header {
  line-height: 60px;
  max-width: 100%;
  background: #6F0204;
  padding-top: 8px;
  padding-bottom: 8px;

  #header-user-dropdown {
    background-color: white;

    &:hover {
      filter: brightness(0.85);
      cursor: pointer;
    }
  }

  .header-user-icon {
    size: 42px;
    border-radius: 2px;
  }

  .header-logo {
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;

    width: 180px;
    background: inline("logo.png") no-repeat;
  }

  .header-logo-sp {
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;

    width: 60px;
    background: inline("logo-sp.png") no-repeat;
  }

  .dropdown-toggle:after {
    border: 0;
  }

  .dropdown-menu {
    background: black;
    border: 1px white solid;
  }

  .dropdown-item {
    color: white;

    &:hover {
      background: #333333;
    }
  }
}
