#mikado23on {
  h3,
  h4 {
    text-align: center;
    font-weight: bold;
  }

  h5 {
    background: black;
    color: white;
  }

  .chara {
    padding-top: 0.1rem;
    line-height: 1.6;
    display: inline-block;
  }

  p.blank {
    margin-bottom: 0;
  }

  p.player {
    margin-bottom: 0.3rem;
  }

  p.comment {
    margin-bottom: 0.3rem;
  }

  .radio {
    margin-bottom: 0;
  }

  input[type=radio] {
    margin-right: 1rem;
  }

  .card hr {
    border-top: 1px dashed #bbb;
  }

  .widget-center {
    text-align: center;
  }

  iframe {
    display: block;
    margin: 0 auto;
  }
}
