#mikado23on {
  h3,
  h4 {
    text-align: center;
    font-weight: bold;
  }

  h5 {
    font-size: 1.2rem;
  }

  h5 {
    font-size: 1.2rem;
  }

  .chara {
    display: inline-block;
    padding-top: 0.1rem;
    line-height: 1.6;
  }

  p.blank {
    margin-bottom: 0;
  }

  p.player {
    margin-bottom: 0.3rem;
  }

  p.chosen {
    font-weight: 500;
    font-size: 1.1rem;
  }

  p.comment {
    margin-bottom: 0;
  }

  p.chosen-comment {
    margin-bottom: 1rem;
  }

  p.match {
    text-align: center;
  }

  .radio {
    margin-bottom: 0;
  }

  input[type=radio] {
    margin-right: 1rem;
  }

  .card hr {
    border-top: 1px dashed #bbb;
  }

  .widget-center {
    text-align: center;
  }

  iframe {
    display: block;
    margin: 0 auto;
  }

  img.video-link {
    width: 1.6rem;
  }
}
