#navbar {
  padding-top: 0;
  padding-bottom: 0;
  height: 50px;
  border-bottom: #8e0003;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  background-color: #a70004;

  .navbar-nav {
    display: flex;
    float: none;
    margin-right: 0;
    margin-left: 0;
    text-align: center;
  }

  .nav-item {
    margin: 0;
    width: 25%;
    height: 50px;
    line-height: 50px;

    &:hover {
      background: #c6595c;
    }
  }

  .active {
    border-bottom: solid 5px #da0005;
  }

  .nav-link {
    display: block;
    margin: 0;
    padding: 0;
    height: inherit;
    color: white;
  }
}
