.room {
  .message {
    h4 {
      margin: 0;
      padding: 0;
      font-size: 1.2rem;

      a {
        color: black;
      }
    }

    h5 {
      font-size: 1.1rem;
    }

    .slack-icon {
      margin-top: 0.2rem;
    }

    small {
      color: lighten(black, 40%);
    }

    blockquote {
      font-size: 0.9rem;
    }

    iframe {
      margin-bottom: 1rem;
      border: solid 1px #ccc;
    }
  }

  .media-left {
    img {
      border-radius: 6px;
      size: 48px;
    }
  }

  .media-heading {
    display: table;
    padding-right: 30px;
    width: 100%;
    table-layout: fixed;
    word-wrap: break-word;
  }

  nav {
    text-align: center;
  }
}
