---
env:
  browser: true
  node: true

extends: airbnb

parser: babel-eslint
parserOptions:
  ecmaVersion: 6
  sourceType: module
  ecmaFeatures:
    jsx: true

rules:
  strict: 0
  no-unused-vars: ["error", { "argsIgnorePattern": "^_" }]
  import/extensions: 2
  import/no-extraneous-dependencies: [error, { devDependencies: true }]
  generator-star-spacing: 0

plugins:
- import
