# Ruby
/.bundle/
/vendor

# Rails
/app/assets/javascripts/webpack
/app/assets/stylesheets/webpack
/log
/tmp
/public/assets
/public/system
/public/ckeditor_assets
/coverage/
/.env
/erd.pdf
/railways.cache

# npm
/node_modules
/npm-debug.log

# Docker
/docker_mount/db/*
!/docker_mount/db/.keep

# Ansible
*.retry

# OSX
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db

# IntelliJ
.idea/*
*.iml

# Vagrant
/vagrant/.vagrant
