#summary-editor.uk-container.uk-container-center.uk-margin-top data-summary-id=@summary.id data-summary-title=@summary.title data-summary-description=@summary.description data-channel-id=@summary.slack_channel.id data-messages=messages_json(@summary)

- content_for :title do
  | まとめの編集
