.video-title
  font-size: 95%
  margin-left: 40px

.video-thumbnail
  width: 100%

.video-site-nico
  background: no-repeat top center
  background-size: contain
  @include size(30px)
  margin: 5px
  float: left
  background-image: url("../img/niconico.png")

.video-site-youtube
  background: no-repeat top center
  background-size: contain
  @include size(30px)
  margin: 5px
  float: left
  background-image: url("../img/youtube.png")

.video-time-ago
  width: 100%
  text-align: right
