#summary-editor {
  h3 {
    font-size: 1.5rem;
    margin-top: 0.3rem;
  }

  p {
    font-size: 0.9rem;
  }

  .drag-over {
    margin-bottom: 5px;
  }

  blockquote {
    font-size: 1rem;
    padding-left: 10px;
    margin-bottom: 0;
  }

  select {
    height: 2.5rem;
  }

  button {
    height: 2.5rem;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    margin: 0;
    padding: 0;
  }

  textarea {
    height: 5rem;
  }

  .main-card {
    min-height: 820px;
  }

  .header {
    height: 60px;
  }

  .load-messages {
    min-height: 600px;
    overflow-y: scroll;
  }

  .selected-messages {
    min-height: 470px;
    overflow-y: scroll;
  }

  .card-footer {
    background: white;
    border: 0;
  }

  .media-left {
    img {
      width: 32px;
      height: 32px;
      border-radius: 5px;
    }
  }

  .col-lg-2 {
    padding: 0.5rem;
  }
}
