<div class="col-lg-12">
  <div class="card u-bg-gray m-t-1">
    <div class="card-block">
      <p>対戦組み合わせ</p>
      <ul>
        <li v-for="matchup in matchups">
          <a @click.prevent="setPlayheadTime($event, matchup.sec - 10)">
            {{ Math.floor(matchup.sec / 60) + "：" + ("0" + (matchup.sec % 60)).slice(-2) }}  {{ charas[matchup.chara1_id - 1].name }} vs {{ charas[matchup.chara2_id - 1].name }}
          </a>
          （
          <a href="{{ videoUrl }}?from={{ matchup.sec - 10 }}" target="_blank">
            ニコニコ動画で見る
          </a>
          ）
          &nbsp;&nbsp;
          <a href="#" class="nav-link" @click.prevent="deleteMatchup($event, matchup)" v-if="addFlag === true">
            <i class="fa fa-times"></i>
          </a>
        </li>
      </ul>

      <template v-if="addFlag === true">
        <form @submit.prevent="onSubmit($event, minute, second, chara1, chara2)">
          <fieldset class="form-group">
            <div class="col-md-3 col-xs-6">
              <label for="minutes">分</label>
              <select id="minutes" class="form-control" v-model="minute">
                <option v-for="minute in minutes" value="minute" :value="minute">{{ minute }}</option>
              </select>
            </div>
            <div class="col-md-3 col-xs-6">
              <label for="seconds">秒</label>
              <select id="seconds" class="form-control" v-model="second">
                <option v-for="second in seconds" value="minute" :value="second">{{ second }}</option>
              </select>
            </div>
            <div class="col-md-3 col-xs-6">
              <label for="chara1">1P</label>
              <select id="chara1" class="form-control" v-model="chara1">
                <option v-for="chara1 in charas" value="chara1.id" :value="chara1.id">{{ chara1.name }}</option>
              </select>
            </div>
            <div class="col-md-3 col-xs-6">
              <label for="chara2">2P</label>
              <select id="chara2" class="form-control" v-model="chara2">
                <option v-for="chara2 in charas" value="chara2.id" :value="chara2.id">{{ chara2.name }}</option>
              </select>
            </div>
          </fieldset>
          <fieldset class="form-group">
            <button type="submit" class="btn btn-primary m-l-1">対戦組み合わせを登録</button>
          </fieldset>
        </form>
      </template>
      <template v-if="authority === 'enable' && addFlag === false">
        <div class="clearfix">
          <nav class="nav nav-inline pull-right">
            <a href="#" class="nav-link" @click.prevent="displayForm">
              <i class="fa fa-pencil">編集</i>
            </a>
          </nav>
        </div>
      </template>
      <template v-if="addFlag === true">
        <div class="clearfix">
          <nav class="nav nav-inline pull-right">
            <a href="#" class="nav-link" @click.prevent="hideForm">
              <i class="fa fa-pencil">編集を終了</i>
            </a>
          </nav>
        </div>
      </template>
    </div>
  </div>
</div>
