.app-root
  .uk-grid
    .uk-width-1-2
      .uk-panel.uk-panel-box(style='height: 520px;')
        .uk-panel-title(style='line-height: 40px')
          | プレビュー ({{ messages.length }} / 100)
        ul.uk-list.editor-main-list(style='height: 450px; overflow-y: scroll;')
          li.slack-message(v-for='message in messages', @click="onClickMessage(this)", id="{{ $index }}", v-drag-and-drop drop='handleDrop')
            .slack-message-icon
              img(:src='message.avatar_url')
            .slack-message-header
              .slack-message-header-name
                | {{ message.username }}
              .slack-message-header-date
                | {{ message.date }}
              .slack-message-header-channel
                | in \#{{ message.channel }}
            .slack-message-body
              | {{{ message.format_text }}}

          li.uk-comment(style='height: 64px; border: 2px dashed #ccc; margin: 10px;')
            .uk-text-muted.uk-text-center(style='line-height: 30px;')
                | 右パネルからメッセージをクリックして選択<br>ドラッグで並べ替え

    .uk-width-1-2
      .uk-panel.uk-panel-box(style='height: 520px;')
        form.summary-form.uk-form.uk-grid(action='#', @submit.prevent='onSelectChannel($event, channel, loadMessages)', style='height: 40px; margin-bottom: 15px;')
          .uk-width-4-5
            .uk-width-1-1.select-wrap
              select(v-model='channel')
                option(v-for='channel in channels', :value='channel.value')
                  | \#{{ channel.text }}
          .uk-width-1-5
            button.uk-button.uk-width-1-1(type='submit', :disabled='nowLoading')
              i.fa.fa-eyedropper(v-if='!nowLoading')
              i.fa.fa-spinner.fa-spin(v-if='nowLoading')

        ul.uk-list(style="height: 450px; overflow-y: scroll;")
          li.slack-message(v-for='message in loadMessages', @click="onClickLoadMessage(this)")
            .slack-message-icon
              img(:src='message.avatar_url')
            .slack-message-header
              .slack-message-header-name
                | {{ message.username }}
              .slack-message-header-date
                | {{ message.date }}
              .slack-message-header-channel
                | in \#{{ message.channel }}
            .slack-message-body
              | {{{ message.format_text }}}

  .uk-margin-top.uk-width-2-3.uk-container-center
    .uk-form.uk-panel.uk-panel-box
      input.js-edit-app-title.uk-width-1-1.uk-form-large(name='title', type='text', value='', placeholder='まとめのタイトル', v-model='title', :readonly='nowSubmitting')
      textarea.js-edit-app-description.uk-width-1-1.uk-margin-top(style='height: 5em;', name='description', placeholder='まとめの説明文(省略可)', v-model='description', :readonly='nowSubmitting')

  br

  .uk-text-center.uk-margin-top
    button.uk-button.uk-button-large.uk-button-primary(@click='onSubmit($event, title, description, messages)', :disabled='nowSubmitting')
      | まとめを投稿する
