<div class="app-root">
  <div class="hidden-lg-up">
    <div class="card">
      <div class="card-block">
        <p>ご利用の端末からはご利用頂けません</p>
      </div>
    </div>
  </div>
  <div class="hidden-md-down">
    <div class="row">
      <div class="col-lg-6">
        <div class="main-card card">
          <div class="card-block">
            <form action="#" @submit.prevent="onSelectChannel($event, channel, loadMessages)" class="summary-form">
              <div class="header">
                <div class="row">
                  <div class="col-lg-8">
                    <select v-model="channel" class="form-control">
                      <option v-for="channel in channels" :value="channel.value">#{{ channel.text }}
                      </option>
                    </select>
                  </div>
                  <div class="col-lg-2">
                    <button type="submit" :disabled="nowLoading" class="form-control"><i v-if="!nowLoading" class="fa fa-refresh"></i><i v-if="nowLoading" class="fa fa-spinner fa-spin"></i>
                    </button>
                  </div>
                  <div class="col-lg-2">
                    <button type="button" v-on:click="loadTweet" class="form-control"><i class="fa fa-twitter"></i>
                    </button>
                  </div>
                </div>
              </div>
            </form>
            <div class="card">
              <div class="card-block">
                <div class="load-messages slack-channel">
                  <ul>
                    <li v-for="message in loadMessages" @click="onClickLoadMessage(this)" class="slack-message">
                      <div class="media">
                        <div class="slack-icon media-object pull-left">
                          <div class="media-left"><img :src="message.avatar_url"/>
                          </div>
                        </div>
                        <div class="media-body">
                          <div class="media-heading">
                            <h4 class="pull-left">{{ message.username }}
                            </h4><small class="m-l-1">{{ message.date }}</small>
                            <p>{{{ message.format_text }}}
                            </p>
                          </div>
                          <div v-for="attachment in message.attachments">
                            <template v-if="attachment.service_name === &quot;twitter&quot;">
                              <blockquote class="twitter-tweet">
                                <p>{{ attachment.text }}
                                </p>&mdash; " {{ attachment.author_name }} ({{ attachment.author_subname }}) " <a :href="attachment.from_url"></a>
                              </blockquote>
                            </template>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="card-footer text-muted">左パネルからクリックで発言を選択<br>ドラッグで並び替え
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="main-card card">
          <div class="card-block">
            <div class="header row">
              <h3 class="m-l-1">まとめプレビュー ({{ messages.length }} / 100)
              </h3>
            </div>
            <div class="card">
              <div class="card-block">
                <div class="selected-messages slack-channel editor-main-list">
                  <ul>
                    <li v-for="message in messages" @click="onClickMessage(this)" id="{{ $index }}" v-drag-and-drop drop="handleDrop" class="slack-message media u-no-marker">
                      <div class="slack-icon media-object pull-left">
                        <div class="media-left"><img :src="message.avatar_url"/>
                        </div>
                      </div>
                      <div class="media-body">
                        <div class="media-heading">
                          <h4 class="pull-left">{{ message.username }}
                          </h4><small class="m-l-1">{{ message.date }}</small>
                          <p>{{{ message.format_text }}}
                          </p>
                        </div>
                        <div v-for="attachment in message.attachments">
                          <template v-if="attachment.service_name === &quot;twitter&quot;">
                            <blockquote class="twitter-tweet">
                              <p>{{ attachment.text }}
                              </p>&mdash; " {{ attachment.author_name }} ({{ attachment.author_subname }}) " <a :href="attachment.from_url"></a>
                            </blockquote>
                          </template>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <fieldset class="form-group">
              <input name="title" type="text" value="" placeholder="まとめのタイトル" v-model="title" :readonly="nowSubmitting" class="form-control js-edit-app-title"/>
            </fieldset>
            <fieldset class="form-group">
              <textarea name="description" placeholder="まとめの説明文(省略可)" v-model="description" :readonly="nowSubmitting" class="form-control js-edit-app-description"></textarea>
            </fieldset>
            <div class="form-group">
              <button @click="onSubmit($event, title, description, messages)" :disabled="nowSubmitting" class="btn btn-primary">まとめを投稿する </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
