.p-good-button
  button
    @extend .btn
    @extend .btn-sm

    color: white
    width: 120px
    height: 28px
    background: #ccc

    &:focus
      outline: none

  .is-good
    background: #6F0204

  .tweet-button
    @extend .btn
    @extend .btn-sm
    color: white
    width: 120px
    height: 28px
    background: #55acee

    &:focus
      outline: none
