.p-good-button {
  img {
    padding-bottom: 3px;
  }

  @define-mixin m-p-good-button {
    display: inline-block;
    border: 1px;
    color: white;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
  }

  .good-button {
    width: 100px;
    height: 28px;
    background: #ccc;
    transition: background 0.3s;

    @mixin m-p-good-button ;

    &:focus {
      outline: none;
    }

    &:hover {
      background: #6f0204;
    }
  }

  .good-sm-button {
    padding-top: 0;
    width: 80px;
    height: 20px;
    background: #ccc;
    font-size: 0.8rem;
    transition: background 0.3s;

    @mixin m-p-good-button ;

    &:focus {
      outline: none;
    }

    &:hover {
      background: #6f0204;
    }
  }

  .is-good {
    background: #6f0204;
  }

  .good-tweet-button {
    padding-top: 0.2rem;
    width: 100px;
    height: 28px;
    background: #55acee;

    @mixin m-p-good-button ;

    &:focus {
      outline: none;
    }
  }

  .good-tweet-sm-button {
    padding-top: 0;
    width: 80px;
    height: 20px;
    background: #55acee;
    font-size: 0.8rem;

    @mixin m-p-good-button ;

    &:focus {
      outline: none;
    }
  }
}
