.p-sidebar {
  $gray: #E0E0E0;

  h4 {
    font-size: 1.3rem;
  }

  .nav-link {
    color: black;
  }

  .sidebar-active {
    font-weight: bold;
    background-color: $gray;
    color: black;
  }
}
